<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <br>

      <!-- Sample advice posts -->
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">How to Protect Yourself and Others</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Wash your hands often and avoid close contact with others. Cover your 
            mouth and nose with a mask when around others. Clean and disinfect surfaces often.
            Monitor you health daily and watch for COVID-19 symptoms.
          </p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">How to Quarantine</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Quarantine refers to the practice of separating individuals who have 
            had close contact with someone with COVID-19 to determine whether they develop symptoms 
            or test positive for the disease.

            Quarantine also reduce the risk of transmission if an individual is later found to have 
            COVID-19. Quarantine for COVID-19 should last for a period of 14 days after the exposure 
            has ended. Ideally, each quarantined individual should be quarantined in a single cell 
            with solid walls and a solid door that closes.</p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">COVID-19 symptoms</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">People with COVID-19 can have a wide range of symptoms, ranging from 
            mild to severe illness. Symptoms of COVID-19 include fever or chills, cough, shortness of 
            breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste 
            or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea. Not 
            everyone with COVID-19 will have all symptoms and fever may or may not be present. Symptoms 
            typically appear 2-14 days after exposure to the virus.</p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Experiencing symptoms?</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">If you have a fever, cough and difficulty breathing, seek medical attention 
            immediately. Call by telephone first, if you can and follow the directions of your local 
            health authority.</p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">FACT:</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Drinking alcohol does not protect you against COVID-19 and can 
            be dangerous</p>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">

</div>
