  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
  
        <br>
  
        <!-- Card stats -->
        <div class="card" style="width: 50rem;">
          <div class="card-body">
              <form>
                  <div class="form-group">
                      <label for="inputName">Title</label>
                      <input type="text" class="form-control" id="inputName">
                  </div>
                  
                  <label for="inputName">Select Channel</label>
                  <br>
                  <button class="btn btn-info btn-sm">Advice</button>
                  <button class="btn btn-success btn-sm">Social</button>
                  <button class="btn btn-warning btn-sm">Resources</button>

                  <br>                
                  <div class="form-group">
                    <br>
                      <label for="inputComment">Description</label>
                      <textarea class="form-control" id="inputComment" rows="4"></textarea>
                  </div>
                </form>

            <br>
<!--             <button class="btnCreatePost">Create Post</button>                
            <button (click)="discardPost()" class="btnDiscard">Cancel</button> -->
            <button (click)="createPost()" class="btn btn-primary" >Create Post</button>
            <button (click)="discardPost()" class="btn btn-primary" >Cancel</button>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
  </div>