
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <br>

      <!-- About posts -->
      <div class="card" style="width: 70rem;">
        <div class="card-body">
          <h4 class="card-title">
            About Pandemic Pals:</h4>
          <h6 class="card-subtitle mb-10 text-muted">Our goal for this project:</h6> <br>
          <p class="card-text">Our goal is to make your pandemic experience better.<br> <br>
            Due to COVID-19, it's been rough going for everyone recently. At best, it's isolated people from their daily
            activities, and more importantly the people and activities they love most- and at worst, it's caused financial
            struggles, fear and anxiety, and severe health problems. It has caused much confusion and grief, as well as a
            wish for "when will this be over?" <br> <br>
            Well, as much as we wish we could say it was all over, we can't. But what we CAN do is provide our local and wider
            community with a platform, a forum, for communication- for answers, for advice, or just for support when you need it.
            We want to ensure that anybody in need of a helping hand, however virtual, can find it- and best of all, they can find it
            in people just like them. It's real, it's applicable, and most of all, it's valuable. People make people stronger, and that's
            what we set out to do. So please, join our Pandemic Pals community, and introduce some light in these dark times- we'll see you
            soon, pal!<br>
          </p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="container-fluid mt-20">

</div>

