<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <br>

      <!-- Sample advice posts -->
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">National Institutes of Health</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">Visit NIH website: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a>
          </p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">John Hopkins COVID-19 Briefing</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">Watch the live briefing: <a href="https://www.nih.gov/coronavirus">https://coronavirus.jhu.edu/</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">COVID-19 Virginia Resources</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text"><a href="https://www.nih.gov/coronavirus">https://covid.virginia.gov/</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Feeding America</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text"><a href="https://www.benefits.gov/help/faq/Coronavirus-resources">https://www.benefits.gov/help/faq/Coronavirus-resources</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Food Banks</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">During this unprecedented moment, The Federation of Virginia Food Banks is working with our seven regional 
            food banks across the state to ensure we can continue to provide food to those in need. <br><br>
            Visit <a href="https://www.feedingamerica.org/hunger-blog/food-bank-response-covid-numbers">here</a></p>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">

</div>

