<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Create post button -->
      <br>

      <div class="row" id="modals">
        <div class="col-md-4">
          <button
            class="btn btn-primary"
            data-target="#myModal"
            (click)="goToCreatePost()"
          >
            Create Post
          </button>
        </div>
      </div>

      <br>

      <!-- Card stats -->
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">
            Personal and Social Activities</h4>
          <h6 class="card-subtitle mb-2 text-muted">Social</h6>
          <p class="card-text">1. Stay home if sick.<br>
            2. Wear masks in public settings, like on public and mass transportation, at events and gatherings, and anywhere they will be around other people.<br>
            3. Use social distancing (stay at least 6 feet away from others).<br>
            4. Before you go, call and ask what extra prevention strategies they are using, like requiring staff to wear masks.<br>
            5. Wash your hands with soap and water for at least 20 seconds when you get home.<br>
          </p>
        </div>
      </div>
      <br>      
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">FACT:</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Drinking alcohol does not protect you against COVID-19 and can 
            be dangerous</p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">National Institutes of Health</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">Visit NIH website: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a>
          </p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">
            Safe outdoor activities during the COVID-19 pandemic</h4>
          <h6 class="card-subtitle mb-2 text-muted">Social</h6>
          <p class="card-text">Walking, running and hiking<br>
            Rollerblading and biking<br>
            Fishing and hunting<br>
            Golfing<br>
            Rock or ice climbing<br>
            Kayaking, canoeing, diving, boating or sailing<br>
            Skiing, including cross-country and downhill skiing<br>
            Ice skating<br>
            Snowboarding<br>
            Sledding<br>
            Snowshoeing<br>
            Fitness classes, held outside or virtually, that allow distance</p>
        </div>
      </div>
      <br>  
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Experiencing symptoms?</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">If you have a fever, cough and difficulty breathing, seek medical attention 
            immediately. Call by telephone first, if you can and follow the directions of your local 
            health authority.</p>
        </div>
      </div>
      <br>          
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">John Hopkins COVID-19 Briefing</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">Watch the live briefing: <a href="https://www.nih.gov/coronavirus">https://coronavirus.jhu.edu/</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">COVID-19 symptoms</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">People with COVID-19 can have a wide range of symptoms, ranging from 
            mild to severe illness. Symptoms of COVID-19 include fever or chills, cough, shortness of 
            breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste 
            or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea. Not 
            everyone with COVID-19 will have all symptoms and fever may or may not be present. Symptoms 
            typically appear 2-14 days after exposure to the virus.</p>
        </div>
      </div>
      <br>      
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Low rish social activities</h4>
          <h6 class="card-subtitle mb-2 text-muted">Social</h6>
          <p class="card-text">Picnics: Pack food from home. Or pick up takeout from your favorite restaurant or food truck. In some places, you might be able to get your food delivered to you. Take it to enjoy at your favorite public park, or eat out on your patio or deck. <br>
            <br>Outdoor farmers markets: Wear a mask and maintain a social distance of at least 6 feet (2 meters) from others.<br>
            <br>Drive-in movies: The COVID-19 pandemic has launched a drive-in movie theater comeback in the U.S. It's something many people can enjoy together with plenty of physical distance.</p>
        </div>
      </div>  
      <br>    
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">COVID-19 Virginia Resources</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text"><a href="https://www.nih.gov/coronavirus">https://covid.virginia.gov/</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">How to Quarantine</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Quarantine refers to the practice of separating individuals who have 
            had close contact with someone with COVID-19 to determine whether they develop symptoms 
            or test positive for the disease.

            Quarantine also reduce the risk of transmission if an individual is later found to have 
            COVID-19. Quarantine for COVID-19 should last for a period of 14 days after the exposure 
            has ended. Ideally, each quarantined individual should be quarantined in a single cell 
            with solid walls and a solid door that closes.</p>
        </div>
      </div>
      <br>      
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Low- to moderate-risk outdoor activities          </h4>
          <h6 class="card-subtitle mb-2 text-muted">Social</h6>
          <p class="card-text">Restaurant patio dining <br>
            Camping<br>
            Swimming pools and beaches<br>
            Gathering with small groups of friends<br>
            Boating with friends<br>
            Barbecues, campfires and outdoor potlucks<br>
            Sports and sporting events
          </p>
        </div>
      </div>
      <br>     
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">How to Protect Yourself and Others</h4>
          <h6 class="card-subtitle mb-2 text-muted">Advice</h6>
          <p class="card-text">Wash your hands often and avoid close contact with others. Cover your 
            mouth and nose with a mask when around others. Clean and disinfect surfaces often.
            Monitor you health daily and watch for COVID-19 symptoms.
          </p>
        </div>
      </div>
      <br>       
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Feeding America</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text"><a href="https://www.benefits.gov/help/faq/Coronavirus-resources">https://www.benefits.gov/help/faq/Coronavirus-resources</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">Food Banks</h4>
          <h6 class="card-subtitle mb-2 text-muted">Resources</h6>
          <p class="card-text">During this unprecedented moment, The Federation of Virginia Food Banks is working with our seven regional 
            food banks across the state to ensure we can continue to provide food to those in need. <br><br>
            Visit <a href="https://www.feedingamerica.org/hunger-blog/food-bank-response-covid-numbers">here</a></p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h4 class="card-title">High-risk outdoor activities</h4>
          <h6 class="card-subtitle mb-2 text-muted">Social</h6>
          <p class="card-text">Large gatherings: Being in large gatherings or crowds of people where it's difficult to stay spaced at least 6 feet (2 meters) apart poses the highest risk. The larger the group and the longer people are together in these situations, the higher the risk. Weddings, festivals and parades are examples.
            <br><br>
            Youth camp activities: Camps are generally high risk because campers come from different locations and spend a lot of time together indoors, in close contact.
            Camps can pose less risk if campers are from the same area, don't share objects, wear masks and spend time outdoors with at least 6 feet (2 meters) between them.
            <br><br>
            Playgrounds: The many frequently touched surfaces of playground equipment make it easier to spread the virus that causes COVID-19. However, in many areas, parks and playgrounds are open. Children who use playground equipment should maintain distance from others, avoid touching their faces and wash their hands afterward to help prevent the spread of the COVID-19 virus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

</div>
